body{
    background-image: url(main-bg.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: left top;
}

#form-box{
    width: 600px;
    height: 350px;
    background-color: rgb(18, 18, 18);
    text-align: center;
    margin: 15vh auto;
    padding-top: 30px;
    border-radius: 20px;
    cursor: context-menu;
    opacity: 95%;
    transition: 3s;
}

#form-box:hover, form input{
    opacity: 100%;
}

form input{
    padding: 10px 50px 10px 50px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    transition: 1s;
    cursor: text;
    opacity: 100%;
}

form input:hover{
    background-color: white;
    color: black;
}

form input:active{
    border: none;
}

form button{
    padding: 8px 40px 8px 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

form button:hover{
    background-color: white;
    color: black;
}

.site-image{
    z-index: 99999;
    width: 300px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
}

